nav{ min-height: 40px;}
#main{ padding: 30px;background-color:rgb(49, 49, 49);}
#middle{ padding: 100px; background-color:rgb(49, 49, 49);}
#logo{max-width: 100px; padding-bottom: 10px}
#rodape{padding:20px; background-color:rgb(49, 49, 49) ;}
#rodape2{padding: 30px; background-color:rgb(49, 49, 49) ;}